* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
}

.allbg {
    height: 90vh;
    /* padding: 20%; */
}

.everything {
background-color: gray;
}
/* HOME PAGE*/
.main-logo {
    display: flex;
    width: 200px;
    padding: 2%;
}

.navbar_links {
    display: flex;
    /* justify-content: center; */
}

.title {
    display: flex;
    /* padding: 40px 20px; */
    font-size: 3rem;
}

li {
    list-style-type: none;
    padding: 30px 20px;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    color: white;
}

li:hover {
    transform: scale(1.2);
  }

a {
    text-decoration: none;
}

.menuBurger {
    display: none;
}

.allNavbar {
    display: flex;
    width: 100%;
    align-items: center;
    height: 15vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleAndList {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    left: 40%;
    position: absolute;

}

.randomizer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 10px;
}

.button-don {
    margin: 30px 0 60px 0;
    padding: 10px 30px;
}

.carousel {
    left: 25%;
    width: 50%;
}

.insideCarousel {
    display: flex;
    height: 350px;
    width: 100%;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background-color: #364d79;
}

.randomizer-pictures {
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
.pictureSize {
    width: 400px;
    height: 400px;
}

/* PAGE CATEGORIES*/


.boxCategory {
   display: flex;
   flex-direction: column;

}

.allSingleCat {

}

.backArrow {
    /* display: flex; */
    /* text-align: center; */
    /* left: 50px; */
    /* width: 100%; */
    margin: 0 0 0 700px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}

.popup-inner .close-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.categories {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    padding: 0 600px;
}
.name-categorie {
    font-size: 35px;
    text-align: center;
    padding: 30px 0;
    color: white;
}

/* PAGE ABOUT*/

.about-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.about-section p,  .about-section h1{
color: #fff;
}

.about-section h1 {
    font-size: 35px;
    margin: 80px 0;
}

.about-section p {
    font-size: 20px;
}

section {
    padding: 100px 20%;
}
section h1 {
    text-align: center;
    padding-bottom: 30px;
}
section p {
   padding-bottom: 20px;
}
/* PAGE ACCOUNT*/
.App {
    text-align: center;
  display: flex;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }

.auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }

  .auth-form-container label {
    text-align: left;
    padding: 0.25rem 0;
  }
  .auth-form-container input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  .auth-form-container button {
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
    margin: 20px 0;
  }

  .login {
    margin: 0 0 40px ;
    font-size: 30px;
  }
  
  .auth-form-container .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }

.user-section {
    height: 85vh;
}

.login-form h2{
    margin: 0 0 40px 0;
    text-align: center;
}

/* PAGE PARTNER */

.Partner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.Partner input {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 12px;
}

.Partner textarea {
    padding: 10px 30px;
    border-radius: 10px;
}



.allPartners {
    display: flex;
    justify-content: center;
    height: 85vh;
    flex-direction: column;
}

.allPartners h2 {
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 20px;
}

/* max width à mettre en 360px*/
@media screen and (max-width: 450px) {
    .main-logo {
        display: flex;
        width: 50px;
        padding: 2%;
    }

    .navbar_links_open  {
        display: inline;
    }

    .navbar_links_closed {
        display: none;
    }

    .navbar_links {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       right: 0;
       top: 100px;
       background-color: blue;
       position: absolute;
       z-index: 9999;
    }

    .menuBurger {
        display: block;
    }

    .navbar {
        display: flex;
        width: 100%;
    }

    .allNavbar {
        width: 100%;
        background-color: aqua;
    }

    .title {
        font-size: 1.3rem;
    }

    nav {
        display: flex;
        position: relative;
    }

    .titleAndList {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .carousel {
        width: 100%;
    }

    .pictureSize {
        width: 40px;
        height: 40px;
    }

    .App {
        text-align: center;
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      color: white;
    }
    
    .auth-form-container, .login-form, .register-form {
        display: flex;
        flex-direction: column;
      }
}